.top-icon {
  width: 44px;
  height: 44px;

  border: none;

  border-radius: 14px;

  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--orange);

  box-shadow: var(--shadow);
}

.top-icon svg,
.action-icon svg {
  width: 22px;
  height: 22px;

  stroke-width: 2.2;
}

.action-icon {
  width: 56px;
  height: 56px;

  border-radius: 18px;

  background: var(--orange-soft);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--orange);
}