@import "./variables.css";
@import "./layout.css";
@import "./components.css";

@import "./dashboard.css";
@import "./order.css";
@import "./order-detail.css";
@import "./create-order.css";
@import "./produksi.css";
@import "./produksi-detail.css";
@import "./stock.css";
@import "./stock-detail.css";

@import "./bottom-nav.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  background: var(--bg);

  color: var(--text);

  touch-action: manipulation;
}

button,
input,
select {
  font: inherit;
}

input,
select,
textarea {
  font-size: 16px !important;
}