@import "./variables.css";
@import "./layout.css";
@import "./components.css";

@import "./dashboard.css";
@import "./order.css";
@import "./order-detail.css";
@import "./create-order.css";

@import "./bottom-nav.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  background: var(--bg);

  color: var(--text);
}

button,
input,
select {
  font: inherit;
}