.app-layout {
  min-height: 100vh;

  background: var(--bg);

  padding-bottom:
    calc(
      var(--bottom-nav-height)
      + env(safe-area-inset-bottom)
    );
}

.app-content {
  padding: var(--page-padding);

  display: flex;
  flex-direction: column;

  gap: var(--section-gap);
}