:root {

  /* =========================
     COLORS
  ========================= */

  --bg: #F5F5F5;

  --white: #FFFFFF;

  --text: #0F172A;

  --text-light: #6B7280;

  --border: #ECEFF3;

  --orange: #F97316;

  --orange-soft: #FFF4EB;

  --blue-soft: #EAF2FF;

  --blue: #2563EB;

  --yellow-soft: #FEF3C7;

  --yellow: #D97706;

  --green-soft: #DCFCE7;

  --green: #16A34A;

  --danger-soft: #FEE2E2;

  --danger: #DC2626;

  /* =========================
     RADIUS
  ========================= */

  --radius-sm: 12px;

  --radius-md: 16px;

  --radius-lg: 22px;

  --radius-xl: 28px;

  --radius-full: 999px;

  /* =========================
     SHADOW
  ========================= */

  --shadow:
    0 4px 20px rgba(15, 23, 42, 0.04);

  /* =========================
     SPACING
  ========================= */

  --space-xs: 6px;

  --space-sm: 10px;

  --space-md: 16px;

  --space-lg: 20px;

  --space-xl: 28px;

  /* =========================
     TRANSITION
  ========================= */

  --transition: 0.2s ease;

}