:root {
  --primary: #111827;

  --bg: #F3F4F6;
  --card: #FFFFFF;

  --text: #111827;
  --text-light: #6B7280;

  --border: #E5E7EB;

  --radius: 28px;

  --shadow:
    0 4px 16px rgba(0,0,0,0.04);
}